#canvas {
	position: absolute;
	top:0;
	left:0; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 0px;
	-webkit-user-select: none;
}

.drawing-btn-group {
	display: table;
}

.stroke-color-picker {
	width: 196px;
}

.fill-color-picker {
	width: 196px;
}

.shape-textarea {
	width: 196px;
}